body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* made the image scalable to the window */
img {
  width: 90vw;     
  height: auto;     
}

@media (min-width: 600px) {
  img {
    width: 70vw;
  }
}

@media (min-width: 1024px) {
  img {
    width: 50vw;
  }
}

/* customized the button */
button {
  background-color: rgb(107, 57, 3);
  color: white;
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
  font-size: large;
  cursor: pointer
}
button:hover {
  color:rgb(255, 255, 255);
  background-color: rgb(150, 114, 5);
}